%body
  .blurred-dashboard.clear-page
    .text-center.dark
      %a{:href => "/"}
        %img{:alt => "Aligosaa504x160 dark", :height => "82.5", :src => asset_path('aligosa504x106.png'), :width => "260"}/
      %h1.h3 Quản lý theo cách của bạn bằng công cụ của chúng tôi
      .spacer20
    .container
      %section.m400.m-l-r-auto.fill-white
        .panel-heading
          %h2.text-center Sign in
        .panel-body
          = form_for(:session, url: login_path) do |f|
            .form-group.email.optional.user_email
              .input-group
                %span.input-group-addon
                  %i.fa.fa-envelope-o.icon-fw
                = f.text_field :email, class: 'form-control string.email optional', placeholder: 'Email'
            .form-group.password.optional.user_password
              .input-group
                %span.input-group-addon
                  %i.fa.fa-key.icon-fw
                = f.password_field :password, class: 'form-control password optional', placeholder: 'Mật khẩu'
            .spacer10
            = button_tag(type: 'submit', class: "btn btn-default btn-success btn-lg btn-block") do
              Đăng nhập
            .spacer10
            .pull-right
              %small
                %a{:href => new_password_reset_path} Quên mật khẩu?
            = f.label :remember_me, class: "boolean optional" do
              = f.check_box :remember_me
              Ghi nhớ
      .spacer30
      %p.lead.text-center.color-white
        Chưa có tài khoản?
        %a{:href => "/signup"} Tạo ngay      
            