%body.blank
.login-content
  / Main content
  .lc-block
    .container-center.animated.slideInDown
      .panel.panel-filled
        .panel-body
          = form_for(@user, url: password_reset_path(params[:id])) do |f|
            = hidden_field_tag :email, @user.email
            .input-group.m-b-20
              %span.input-group-addon
                %i.fa.fa-lock
              .fg-line
                = f.password_field :password, class: 'form-control', placeholder: 'Nhập mật khẩu mới'
            .input-group.m-b-20
              %span.input-group-addon
                %i.fa.fa-unlock-alt
              .fg-line
                = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Nhập lại mật khẩu mới'
            %div
              = button_tag(type: 'submit', class: "btn btn-default btn-float btn-login") do
                %i.zmdi.zmdi-arrow-forward