%body.blank
.login-content
  / Main content
  .lc-block
    .container-center.animated.slideInDown
      .panel.panel-filled
        .panel-body
          = form_for(:user, url: signup_path) do |f|
            .input-group.m-b-20
              %span.input-group-addon
                %i.fa.fa-user
              .fg-line
                = f.text_field :name, class: 'form-control', placeholder: 'Tên người dùng'
            .input-group.m-b-20
              %span.input-group-addon
                %i.fa.fa-envelope
              .fg-line
                = f.text_field :email, class: 'form-control', placeholder: 'Email'
            .input-group.m-b-20
              %span.input-group-addon
                %i.fa.fa-lock
              .fg-line
                = f.password_field :password, class: 'form-control', placeholder: 'Mật khẩu'
            .input-group.m-b-20
              %span.input-group-addon
                %i.fa.fa-unlock-alt
              .fg-line
                = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Nhập lại mật khẩu'
            %div
              = button_tag(type: 'submit', class: "btn btn-default btn-float btn-login") do
                %i.zmdi.zmdi-check
    .lcb-navigation
      %a.btn.btn-default{:href => login_path, style: "margin: 5px"} Đăng nhập
      %a.btn.btn-default{:href => new_password_reset_path, style: "margin: 5px"} Quên mật khẩu