%body
  = render 'shared/enterprise_overview/navbar_home'
  .enterprise
    = render 'shared/enterprise_overview/header_enterprise_overview'
    = render 'shared/enterprise_overview/info1_enterprise_overview'
    = render 'shared/enterprise_overview/info2_enterprise_overview'
    = render 'shared/enterprise_overview/info3_enterprise_overview'
    = render 'shared/enterprise_overview/info4_enterprise_overview'
  = render 'shared/home_footer'
  