%body
  = render 'shared/features/navbar_home'
  #product
    = render 'shared/features/header_features'
    = render 'shared/features/info1_features'
    = render 'shared/features/info2_features'
    = render 'shared/features/info3_features'
    = render 'shared/features/info4_features'
    = render 'shared/features/info7_features'
  = render 'shared/home_footer'
  