%body
  = render 'shared/homepage/navbar_home'
  #product
    = render 'shared/homepage/header_homepage'
    = render 'shared/homepage/info1_homepage'
    = render 'shared/homepage/info2_homepage'
    = render 'shared/homepage/info3_homepage'
    = render 'shared/homepage/info4_homepage'
  = render 'shared/home_footer'
  