= render 'shared/navbar_home'
= render 'shared/header_home'
= render 'shared/home_about'
= render 'shared/home_outlook'
= render 'shared/home_process'
= render 'shared/user_profilemake', has_profile: @has_profile, has_station: @has_station, has_dprofile: @has_dprofile
= render 'shared/home_quote'
= render 'shared/home_footer'