%body.blank
.login-content
  / Main content
  .lc-block
    .container-center.animated.slideInDown
      .panel.panel-filled
        .panel-body.row
          = form_for(:station , url: station_path, html: {multipart: true}) do |f|
            .col-md-12
              .row.m-b-20
                .col-md-3.hidden-xs
                  %span Tên phòng khám
                .col-md-9
                  = f.text_field :sname, class: 'form-control', placeholder: 'Tên phòng khám'
              .row.m-b-20
                .col-md-3.hidden-xs
                  %span Quốc gia
                .col-md-9
                  = f.collection_select :country, Nation.where(lang: "vi"), :id, :name, {prompt: "Địa chỉ"}, {class: "form-control"}
              .row.m-b-20
                .col-md-3.hidden-xs
                  %span Tỉnh/ TP
                .col-md-9
                  = f.collection_select :city, City.where(lang: "vi", nation_id: 1), :id, :name, {prompt: "Tỉnh/ TP"}, {class: "form-control"}
              .row.m-b-20
                .col-md-3.hidden-xs
                  %span Quận/ Huyện
                .col-md-9
                  = f.collection_select :province, Province.where(lang: "vi", city_id: 1), :id, :name, {prompt: "Quận/ Huyện"}, {class: "form-control"}
              .row.m-b-20
                .col-md-3.hidden-xs
                  %span Địa chỉ
                .col-md-9
                  = f.text_field :address, class: 'form-control', placeholder: 'Địa chỉ'
              .row.m-b-20
                .col-md-3.hidden-xs
                  %span Số điện thoại
                .col-md-9
                  = f.text_field :pnumber, class: 'form-control', placeholder: 'Số điện thoại'
              .row.m-b-20
                .col-md-3.hidden-xs
                  %span Trang chủ
                .col-md-9
                  = f.text_field :hpage, class: 'form-control', placeholder: 'Trang chủ'
              .row.m-b-20
                .col-md-3.hidden-xs
                  %span Logo
                .col-md-9
                  = f.file_field :logo
            %div
              = button_tag(type: 'submit', class: "btn btn-default btn-float btn-login") do
                %i.zmdi.zmdi-check