%body
  .blurred-dashboard.clear-page
    .text-center.dark
      %a{:href => "/"}
        %img{:alt => "Aligosa504x160 dark", :height => "82.5", :src => asset_path("aligosa504x106.png"), :width => "260"}/
      %h1.h3 Quản lý theo cách của bạn bằng công cụ của chúng tôi
      .spacer20
    .container
      %section#new-user.m900.m-l-r-auto
        .row.fill-white
          .col-md-6.col-md-offset-1
            .panel-heading.text-center
              %h2
                Nhập thông tin
          .row
            .panel-body
              = form_for(:doctor_profile , url: dprofile_path, html: {multipart: true}) do |f|
                .row
                  .col-md-5.col-md-offset-1
                    .form-group.email.optional.user_email
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-user.icon-fw
                        = f.text_field :fname, class: 'form-control', placeholder: 'Họ và đệm', value: @pro.fname
                  .col-md-5
                    .form-group.email.optional.user_email
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-user.icon-fw
                        = f.text_field :lname, class: 'form-control', value: @pro.lname, placeholder: 'Tên'
                .row
                  .col-md-5.col-md-offset-1
                    .form-group.email.optional.user_email
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-user.icon-fw
                        = f.text_field :dob, class: 'form-control', value: @pro.dob, placeholder: 'Ngày sinh - 30/01/1990'
                  .col-md-5
                    .form-group.email.optional.user_email
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-user.icon-fw
                        = f.collection_select :gender, Gender.where(lang: "vi"), :id, :name, {prompt: "Giới tính"}, {class: "form-control", value: @pro.gender}
                .row
                  .col-md-5.col-md-offset-1
                    .form-group.email.optional.user_email
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-user.icon-fw
                        = f.text_field :address, class: 'form-control', value: @pro.address, placeholder: 'Địa chỉ', 'data-placement': 'bottom'
                  .col-md-5
                    .form-group.email.optional.user_email
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-user.icon-fw
                        = f.text_field :noid, class: 'form-control', value: @pro.noid, placeholder: 'Số CMTND'
                .row
                  .col-md-5.col-md-offset-1
                    .form-group.email.optional.user_email
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-user.icon-fw
                        = f.text_field :issue_date, class: 'form-control', value: @pro.issue_date, placeholder: 'Ngày cấp', 'data-placement': 'bottom'
                  .col-md-5
                    .form-group.email.optional.user_email
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-user.icon-fw
                        = f.text_field :issue_place, class: 'form-control', value: @pro.issue_place, placeholder: 'Nơi cấp', 'data-placement': 'bottom'
                .row
                  .col-md-5.col-md-offset-1
                    .form-group.email.optional.user_email
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-user.icon-fw
                        = f.text_field :pnumber, class: 'form-control', value: @pro.pnumber, placeholder: 'Số điện thoại', 'data-placement': 'bottom'
                  .col-md-5
                    .form-group.email.optional.user_email
                      .input-group
                        = f.file_field :avatar
                .row
                  .col-md-5.col-md-offset-1
                    .spacer20
                    %button.btn.btn-lg.btn-block.btn-static-primary{:type => "submit"}
                      Khởi tạo
                    .spacer10
                    %small.text-center.text-muted
                      Bằng việc nhấn nút "Khởi tạo" Tôi đồng ý với các 
                      %a{:href => "/policies/terms", :target => "_blank"} Điều khoản dịch vụ
                      và
                      %a{:href => "/policies/privacy", :target => "_blank"} Điều khoản bảo mật
                      của Aligosa
                    .spacer20